<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/Control-de-notas/src/public/css/components.css">
    <link rel="stylesheet" href="/Control-de-notas/src/public/css/dashboard-admin.css">
</head>
<body>
    <div class="dashboard-layout">
        <aside class="sidebar">
            <div class="sidebar-header">
                <img class="sidebar-icon" src="/Control-de-notas/src/public/images/icons/student.ico"
                    alt="Icono del sistema">
                <h2>Control de notas</h2>
            </div>
            <nav class="sidebar-nav" aria-label="Menú principal">
                <h3 class="sidebar-section-title">Menú principal</h3>

                <a href="#" class="sidebar-link active">
                    <span class="sidebar-icon">
                        <img src="/Control-de-notas/src/public/images/icons/home.ico" alt="">
                    </span>
                    <span>Inicio</span>
                </a>
                <a href="#" class="sidebar-link">
                    <span class="sidebar-icon">
                        <img src="/Control-de-notas/src/public/images/icons/add-user.ico" alt="">
                    </span>
                    <span>Registrar usuario</span>
                </a>
                <a href="#" class="sidebar-link">
                    <span class="sidebar-icon">
                        <img src="/Control-de-notas/src/public/images/icons/group-students.ico" alt="">
                    </span>
                    <span>Ver usuarios</span>
                </a>
            </nav>
            <div class="sidebar-footer">
                <button type="button" class="sidebar-logout">
                    <span class="sidebar-icon">
                        <img src="/Control-de-notas/src/public/images/icons/exit.ico" alt="">
                    </span>
                    <span>
                        Cerrar sesión
                    </span>
                </button>
            </div>
        </aside>
        <div class="dashboard-area">
            <header class="topbar">
                <div class="topbar-title">
                    <h2>Panel administrativo</h2>
                    <p>Gestion de usuarios del sistema</p>
                </div>
                <div class="topbar-user">
                    <div class="topbar-user-info">
                        <h3>Nombre del usuario</h3>
                        <p>mensaje de bienvenida</p>
                    </div>
                    <img class="topbar-avatar" src="/Control-de-notas/src/public/images/icons/avatar.ico"
                        alt="Avatar del usuario">
                </div>
            </header>
        </div>

    </div>
</body>
</html>